
# Created by https://www.toptal.com/developers/gitignore/api/macos,visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=macos,visualstudiocode

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# End of https://www.toptal.com/developers/gitignore/api/macos,visualstudiocode

# node.js
# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules
dist
